<h1 mat-dialog-title><b>{{ project.name }}</b></h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-4">
      <img class="center-image" src="{{ currentImage }}" alt="{{ currentLabel }}" width="200" height="160">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <p>
        <b>Descripción del proyecto:</b><br>
        {{ project.description }}<br>
      </p>
      <div *ngIf="project.urls!=undefined">
        <b>Enlaces de interés:</b><br>
        <ul>
          <li *ngFor="let url of project?.urls"><a target="_blank" href="{{url?.url}}">{{url?.title}}</a></li>
        </ul> 
      </div>
      <p>
        <b>Año: </b> {{ project.year}}<br>
      </p>
      <div><b>Tecnologías aplicadas:</b><br></div><br>
      <mat-chip-list>
        <mat-chip *ngFor="let technology of project?.technologies">
          {{ technology?.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <br>
  <br>
  <div class="d-flex flex-wrap justify-content-center">  
    <div class="d-md-flex">
      <img class="image-selector" *ngIf="project.images[0]!=null" (click)="selectImage(project.images[0]?.url,project.images[0]?.label)" src="{{ project.images[0]?.url }}" alt="{{ project.images[0]?.label }}" width="130" height="130">
    </div>
    <div class="d-md-flex">
      <img class="image-selector" *ngIf="project.images[1]!=null" (click)="selectImage(project.images[1]?.url,project.images[1]?.label)" src="{{ project.images[1]?.url }}" alt="{{ project.images[1]?.label }}" width="130" height="130">
    </div>
    <div class="d-md-flex">
      <img class="image-selector" *ngIf="project.images[2]!=null" (click)="selectImage(project.images[2]?.url,project.images[2]?.label)" src="{{ project.images[2]?.url }}" alt="{{ project.images[2]?.label }}" width="130" height="130">
    </div>
    <div class="d-md-flex">
      <img class="image-selector" *ngIf="project.images[3]!=null" (click)="selectImage(project.images[3]?.url,project.images[3]?.label)" src="{{ project.images[3]?.url }}" alt="{{ project.images[3]?.label }}" width="130" height="130">
    </div>
  </div>
</div>