::ng-deep mat-dialog-container {
    background-color: rgb(0, 112, 192)!important;
}

.image-selector{
    cursor:pointer;
    margin:5px;
}

.project-main-image{
    margin: 5px;
}

a,a:hover{
    color:white;
}