<router-outlet></router-outlet>
<footer class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                 <div class="col-md-11">
                     <br>
                     <img width="50" height="50" src="../assets/img/logo.png">
                     <br>   
                     <small>Desarrollado por: Garry Jr. Bruno</small>
                     <br>
                     <small>Todos los derechos reservados - {{ this.year }} ©</small><br>
                     <small>Caracas - Venezuela</small>
                 </div>
            </div>
        </div>
      </div>
</footer>
