
  footer{
    background-color: rgb(0, 112, 192);
    height: 250px;
    color:white;
  }
  .icon-menu{
    margin-left:20px;
    margin-right:20px;
  }
  .menu{
    color:#fff;
    font-size: 12px; 
    text-align: center;
  }

  .menu img{
    cursor: pointer;
  }

  .nav-item{
    color:#fff;
    cursor: pointer;
  } 

  .icon-menu:hover{
    transform: scale(1.3); 
    transition: transform .2s;
  }


  @media only screen and (min-width: 778px) {
    header{
      background-color: black;
      min-height: 100px;
    }
    .logo{
      cursor: pointer;
      width: 50px;
      height: 50px;
      background: url('../assets/img/logo.png');
      background-size: 50px 50px; 
    }
  
    .logo:hover{
      background: url('../assets/img/logo-fill.png');
      background-size: 50px 50px; 
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }
    .main-menu-desktop{
       display:block!important; 
    }
    .main-menu-mobile{
       display:none!important; 
    }
  }
  @media only screen and (max-width: 777px) {
    header{
      background-color: black;
      min-height: 50px;
    }
    .logo{
      cursor: pointer;
      width: 20px;
      height: 20px;
      background: url('../assets/img/logo.png');
      background-size: 20px 20px;
      background-repeat: no-repeat; 
    }
  
    .logo:hover{
      background: url('../assets/img/logo-fill.png');
      background-size: 20px 20px; 
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      background-repeat: no-repeat;
    }
    .main-menu-mobile{
       display:block!important; 
    }
    .main-menu-desktop{
       display:none!important; 
    }
  }