/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
body{
    overflow-x: hidden;
    background-color: rgb(42, 166, 238);
    font-family: 'Maven Pro', sans-serif;
}

.center-image{
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.main-title{
    font-size: 500%;
    font-weight: bold;
}

.secundary-title{
    font-size: 40px; 
    font-weight: bold;
}

hr{
    border-color: white;
}