
body{
    overflow-x: hidden;
    background-color: white;
    font-family: 'Lexend Deca';
}

.center-image{
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.main-title{
    font-size: 500%;
    font-weight: bold;
}

.secundary-title{
    font-size: 40px; 
    font-weight: bold;
}

hr{
    border-color: white;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.vertical-center{ 
    margin-top: auto; 
    margin-bottom: auto; 
}

.btn-primary {
    color: #fff;
    background-color: rgb(0, 112, 192);
    border-color: rgb(0, 112, 192);
}
html, body { height: 100%; }
body { margin: 0; /*font-family: Roboto, "Helvetica Neue", sans-serif;*/ }

a{
    color: rgb(0, 112, 192);
    cursor:pointer;
}

  