<div class="main-content">
<div id="home" class="row zone1 d-none d-lg-block ">
    <div class="col-md-12">
       <div class="container">
         <br>
         <div class="row">
            <div class="col-md-4">
                  <img class="center-image left-element" width="300" height="300" src="../assets/img/cubo.png">
            </div>
            <div class="col-md-8">
                  <div class="container right-element">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="main-title">
                                 >Garry Jr. Bruno
                              </div>
                              <div class="secondary-text"> 
                                >. . .<br>
                                >. . .<br>
                                >. . .<br> 
                                >echo "Desliza y conoce..." 
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
         </div>
       </div>
    </div>
</div>
<div class="row arrow-zone d-none d-lg-block ">
    <div class="col-md-12">
        <br>
        <br>
        <img class="center-image arrow" (click)="goAboutme()" width="270" height="100" src="../assets/img/arrow-icon.png">  
    </div>
</div>
<div id="aboutme" class="row zone2">
    <div class="col-md-12">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
                 <br>
                 <h2><b>> Sobre mí</b></h2>
                 <br>
           </div>
         </div>
         <div class="row">
            <div class="col-md-3">
                <br>
                <img class="center-image" width="200" height="200" src="../assets/img/personal.png">
            </div> 
            <div class="col-md-9"> 
                <br>
                <p>
                Mi nombre es Garry Jr. Bruno. Soy un joven de 23 años, Ingeniero en Informática egresado de la Universidad Católica Andrés Bello. Soy de Caracas, Venezuela. Desde muy pequeño me ha interesado mucho
                el mundo de la computación y las herramientas que esta provee para solucionar los problemas que se puedan presentar en diversos entornos de nuestra vida cotidiana. 
                </p>
                <p>
                    Durante mi etapa de estudiante, tanto en el bachillerato como en la universidad he aprendido a trabajar en equipo, valorando el trabajo y el esfuerzo de cada uno de sus integrantes, escuchando sus opiniones y puntos de vista. Todo esto con la finalidad de que en lo posible, se pueda tener un buen resultado a futuro en algún proyecto que se realice. 
                </p>
            </div>
         </div>
       </div>
    </div>
</div>
<div id="tools" class="row zone3">
    <div class="col-md-12">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
                 <br>
                 <h2><b>> Entornos manejados</b></h2>
           </div>
         </div>
         <br> 
         <div class="row">
            <div class="col-md-12 d-flex flex-wrap justify-content-center">
                <img class="icon-skill" width="70" height="70" src="../assets/img/android-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/aws-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/heroku-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/java-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/php-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/python-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/oracle-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/mysql-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/html-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/css-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/csharp-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/postgre-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/windows-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/wordpress-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/joomla-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/ionic-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/sketchup-icon.png">
                <img class="icon-skill" width="70" height="70" src="../assets/img/angular-icon.png">
            </div>
         </div>
       </div>
    </div>
</div>
<div id="project" class="row zone4">
    <div class="col-md-12">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
                 <br>
                 <h2><b>> Proyectos para empresas</b></h2>
                 <br>
           </div>
         </div>
         <div class="row">
          <div class="col-md-12">
              <div class="container">
                <p>Durante mis tiempos libres realizo proyectos de manera independiente, en cuanto a desarrollo de aplicaciones web, móviles y de escritorio para diferentes empresas, 
                  en donde busco presentar soluciones que permitan satisfacer las necesidades de automatización de la información de cada una de estas.
                  A continuación se muestran algunos de los proyectos que se han realizado con el tiempo:</p>
                <br>
              </div> 
          </div>
         </div>
         <div class="row">
            <div class="col-md-12"> 
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">
                             <div class="col-md-1"></div>
                             <div class="col-md-5">
                                <div class="card">
                                  <div class="card-body">
                                      <div class="row">
                                        <div class="col-md-4">
                                            <a href="http://www.century21.com.ve/"><img class="project-image" src="../assets/img/century21.png"></a>
                                        </div>
                                        <div class="col-md-8">
                                             <h5><a class="link" href="http://www.century21.com.ve/">Rebranding Century 21</a></h5>
                                             <p class="project-decription">
                                               Adaptación de a la nueva imagen global de la marca de Century 21 en la franquicía de Venezuela. Trabajo realizado en conjunto con <a class="link" href="https://pencilspeech.com">PencilSpeech.</a><br>
                                               <b>Año:</b>2018
                                             </p> 
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                             </div>
                             <div class="col-md-5">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                          <div class="col-md-4">
                                              <a href=""><img class="project-image" src="../assets/img/dmt.png"></a>
                                          </div>
                                          <div class="col-md-8">
                                               <h5>DMT Learning</h5>
                                               <p class="project-decription">
                                                 Sistema de gestión de cursos en línea. Para la empresa DMT Group.<br>
                                                 <b>Año:</b>2018 
                                               </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                              <div class="col-md-1"></div>
                          </div>
                          <br>
                          <br>
                      </div>
                      <div class="carousel-item">
                          <div class="row">
                              <div class="col-md-1"></div>
                              <div class="col-md-5">
                                 <div class="card">
                                   <div class="card-body">
                                       <div class="row">
                                         <div class="col-md-4">
                                             <a href="http://www.century21.com.ve/"><img class="project-image" src="../assets/img/century21.png"></a>
                                         </div>
                                         <div class="col-md-8">
                                              <h5><a class="link" href="http://www.century21.com.ve/">Rebranding Century 21</a></h5>
                                              <p class="project-decription">
                                                Adaptación de a la nueva imagen global de la marca de Century 21 en la franquicía de Venezuela. Trabajo realizado en conjunto con <a class="link" href="https://pencilspeech.com">PencilSpeech.</a><br>
                                                <b>Año:</b>2018
                                              </p>
                                         </div>
                                       </div>
                                     </div>
                                   </div>
                              </div>
                              <div class="col-md-5">
                                  <div class="card">
                                      <div class="card-body">
                                          <div class="row">
                                            <div class="col-md-4">
                                                <a href=""><img class="project-image" src="../assets/img/dmt.png"></a>
                                            </div>
                                            <div class="col-md-8">
                                                 <h5>DMT Learning</h5>
                                                 <p class="project-decription">
                                                   Sistema de gestión de cursos en línea. Para la empresa DMT Group.<br>
                                                   <b>Año:</b>2018
                                                 </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                               </div>
                               <div class="col-md-1"></div>
                           </div>
                           <br>
                           <br>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 billing" data-toggle="modal" data-target="#billingModal">
              <img width="40" height="40" src="../assets/img/register-icon.png"> Solicitar cotización 
            </div>
            <div class="col-md-4"></div>
         </div> 
       </div>
    </div>
</div>
<div  id="academics" class="row zone5">
    <div class="col-md-12">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
                 <br> 
                 <h2><b>> Trabajos académicos</b></h2>
           </div>
         </div>
         <br> 
         <div class="row">
            <div class="col-md-8">
                <h5>Algoritmo Perry - Trabajo Especial de Grado</h5>
                <p>
                    Este trabajo se enfoca en el diseño e implementación de una alternativa de algoritmo de direccionamiento destinado a la compartición de recursos digitales mediante el uso de tablas de hash distribuidas en una red peer to peer, con la finalidad de permitir la realización de búsquedas, establecer comunicaciones entre nodos informáticos para el envío y recepción de archivos entre sí. El algoritmo diseñado se implementó mediante el desarrollo de un software de escritorio, escrito en el lenguaje de programación Java, con la finalidad de que pueda ejecutarse y desplegarse en un contexto real. Mediante esto, se pudo evaluar su rendimiento, y a su vez, se pudo establecer una comparación con otros algoritmos de direccionamiento basados en sistemas distribuidos, tales como Pastry, Gnutella y Chord, en donde se indagó acerca del funcionamiento de estos y se evaluó de igual manera su rendimiento.
                </p>
                <p>
                  <b>Autores:</b> Garry Jr. Bruno / Carlos Valero <br>
                  <b>Tutor:</b> Wilmer Pereira<br>
                  <b>Año:</b> 2018 <br>
                  <b>Institución:</b> Universidad Católica Andrés Bello
                </p>
            </div>
            <div class="col-md-4">
                <img class="center-image" width="250" height="250" src="../assets/img/network.png">
                <br>
                <br>
            </div>
         </div>
       </div>
    </div>
</div>
<div id="publications" class="row zone7">
  <div class="col-md-12">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
               <br>
               <h2><b>> Github</b></h2>
         </div>
       </div>
       <br> 
       <div class="row">
          <div class="col-md-4">
              <br>
              <img class="center-image" src="../assets/img/github.png">
          </div>
          <div class="col-md-8">
               <br>
               <p>
                 En mi repositorio de Github se encuentran algunos de los proyectos académicos realizados durante mi vida universitaria. Algunos de ellos se relacionan con el ámbito de
                 de las redes computacionales, bases de datos e ingeniería del software. 
               </p>
               <br>
               <a href="https://github.com/gjbm95"><h4><b>> Visita mi repositorio</b></h4></a>
               <br>
          </div>
       </div>
     </div>
  </div>
</div>
<!--
<div id="publications" class="row zone6">
    <div class="col-md-12">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
                 <br>
                 <h2><b>> Publicaciones</b></h2>
           </div>
         </div>
         <br> 
         <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
            </div>
         </div>
       </div>
    </div>
</div>
--> 
<div id="contact" class="row zone6">
    <div class="col-md-12">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
                 <br>
                 <h2><b>> Contáctame</b></h2>
           </div>
         </div>
         <br> 
         <div class="row">
            <div class="col-md-6">
              <h5>Redes sociales</h5><br>
              <a href="https://www.linkedin.com/in/garryjrbruno/"><img width="60" height="60" src="../assets/img/linkedin-icon.png"></a><br><br>
              <h5>Correo electrónico</h5><br>
              - proyectos@garrybruno.com.ve<br><br>
            </div>
            <div class="col-md-6">
              <h5>Envía un mensaje</h5><br>
              <form [formGroup]="messageForm">
                <div class="form-group">
                  <label for="usr">Correo electrónico:</label>
                  <input type="text" class="form-control" name="from" id="from" formControlName = "from">
                  <small *ngIf="from.errors?.required && (from.touched)">Este campo es obligatorio</small>
                </div>
                <div class="form-group">
                  <label for="usr">Asunto del mensaje:</label>
                  <input type="text" class="form-control" name="subject" id="subject" formControlName = "subject">
                  <small *ngIf="subject.errors?.required && (subject.touched)">Este campo es obligatorio</small>
                </div>
                <label for="comment">Mensaje:</label>
                  <textarea class="form-control" rows="5" name="message" id="message" formControlName = "message"></textarea>
                  <small *ngIf="message.errors?.required && (message.touched)">Este campo es obligatorio</small>
              </form>
                <div>
                  <br>
                  <button (click)="sendMessage()" type="submit" class="btn btn-default">Enviar mensaje</button>
                  <br>
                </div>
            </div>
         </div>
         <br>
       </div>
    </div>
</div>
</div>

<div class="modal fade" id="billingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" width="30" height="30" src="../assets/img/logo.png"><h5 class="modal-title" id="billingModal"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  >  Solicitud de cotización</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><small>Si deseas soluciones para el manejo digital de información (Un sitio web, aplicación móvil, software de escritorio, entre otros..) bien sea para tu empresa o uso personal, puedes contactarme a través de este formuario.</small></p>
        <hr>
        <form [formGroup]="billingForm">
            <div class="form-group">
              <label for="usr">Nombre completo:</label>
              <input type="text" class="form-control" name="fullname" id="fullname" formControlName = "fullname">
              <small *ngIf="fullname.errors?.required && (fullname.touched)">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
              <label for="usr">Correo electrónico:</label>
              <input type="text" class="form-control" name="email" id="email" formControlName = "email">
              <small *ngIf="email.errors?.required && (email.touched)">Este campo es obligatorio</small>
              <small *ngIf="email.errors?.email && (email.touched)">El correo tiene un formato inválido</small>
            </div>
            <div class="form-group">
              <label for="usr">Teléfono (opcional):</label>
              <input type="text" class="form-control" name="phone" id="phone" formControlName = "phone">
              <small *ngIf="phone.errors?.required && (phone.touched)">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
              <label for="usr">País:</label>
              <input type="text" class="form-control" name="country" id="country" formControlName = "country">
              <small *ngIf="country.errors?.required && (country.touched)">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
              <label for="usr">Tipo de proyecto:</label>
              <select class="form-control" name="type" id="type" formControlName = "type">
                <option value="Sitio web">Sitio web</option>
                <option value="Aplicación móvil">Aplicación móvil</option>
                <option value="Software de escritorio">Software de escritorio</option>
                <option value="Otros">Otros</option>
              </select>
              <small *ngIf="type.errors?.required && (type.touched)">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
              <label for="usr">Descripción del proyecto:</label>
              <textarea class="form-control" rows="5" name="description" id="description" formControlName = "description"></textarea>
              <small *ngIf="description.errors?.required && (description.touched)">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
              <label for="usr">Fecha de entrega planteada:</label>
              <input type="date" class="form-control" name="date" id="date" formControlName = "date">
              <small *ngIf="date.errors?.required && (date.touched)">Este campo es obligatorio</small>
            </div> 
        </form>
        <hr>
        <p><small><b>Importante:</b> los pedidos se analizarán y se evaluarán, dependiendo de la disponibilidad y las condiciones del mismo se ejecutarán. Todas las solicitudes son respondidas, indicando su aprobación o desaprobación.</small></p>

      </div>
      <div class="modal-footer">
        <button (click)="sendRequest()" data-dismiss="modal" type="button" class="btn btn-secondary">Enviar solicitud</button>
      </div>
    </div>
  </div>
</div>
