.block-1{
    background-color: rgb(0, 112, 192);
    color:white;
    min-height: 520px;
}

.block-1 a{
    color: white; 
}

.block-2{
    min-height: 220px;
}

.block-3{
    background-color: white;
    min-height: 500px;
    color: rgb(0, 112, 192);
}


.v1{
    border-left: 6px solid white;
    height: 130px;
}  

.h1{
    border-bottom: 6px solid white;
    width: 230px;
}  


.h1-full{
    border-bottom: 6px solid rgb(0, 112, 192);
    width: 100%;
}  


.name-title{
    font-size: 80px;
}